* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}nav{
    width:100%;
    height:50px;
    background-color:#EEE;
}nav a{
    display:inline-block;
    background-color:#EEE;
    width:100px;
    height:100%;
    margin-right:20px;
    font-size: 30px;
}nav a:hover{
    background-color:#DDD;
}#city{
    display:inline-block;
    width:250px;
    height:300px;
    margin-left:10px;
    margin-right:10px;
    background-color:#EEE;
}#city h2{
    font-size:20px;
    text-align:center;
    display:block;
    height:50px;
    background-color:#CCC;
}#city img{
    width:250px;
    height:250px;
}
#mainimages{
    width:300px;
    height: 250px;
}
